@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");

@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 1024px) {

		html, body {
			min-width: 320px;
		}

	}
	
	body {
		background: #f4f4f4;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}
		
	

	#header {
		background-color: #BDBDBD;
		color: rgba(255, 255, 255, 0.75);
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		text-align: center;
		position: relative;
		cursor: default;
	}

		#header input, #header select, #header textarea {
			color: #ffffff;
		}

		#header a {
			color: inherit;
		}

			#header a:hover {
				color: #FFB2D9 !important;
			}

		#header strong, #header b {
			color: #ffffff;
		}

		#header h1{
			color: #ffffff;
		}

		#header blockquote {
			border-left-color: #ffffff;
		}

		#header code {
			background: rgba(255, 255, 255, 0.075);
			border-color: #ffffff;
		}

		#header hr {
			border-bottom-color: #ffffff;
		}

		#header:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.25);
		}

		#header h1 {
			margin-bottom: 0.5em;
		}

		#header .inner {
			position: relative;
			z-index: 1;
		}

		#header.alt {
			height: 20em;
			min-height: 20em;
			min-height: 75vh;
		}

			#header.alt:before {
				-moz-transition: background-color 3s ease;
				-webkit-transition: background-color 3s ease;
				-ms-transition: background-color 3s ease;
				transition: background-color 3s ease;
				-moz-transition-delay: 1s;
				-webkit-transition-delay: 1s;
				-ms-transition-delay: 1s;
				transition-delay: 1s;
			}

			#header.alt h1 {
				font-size: 3em;
				padding: 0 0.5em 0.25em 0.5em;
				border-bottom: solid 2px #ffffff;
				font-weight: 200;
				font-family: "Pacifico", cursive;
				text-transform: none;
				letter-spacing: 0;
			}

			#header.alt p {
				text-transform: uppercase;
				letter-spacing: 0.325rem;
				font-weight: 400;
				font-size: 0.8em;
				padding: 0 1.25em;
			}

			#header.alt .inner {
				-moz-transition: opacity 2s ease;
				-webkit-transition: opacity 2s ease;
				-ms-transition: opacity 2s ease;
				transition: opacity 2s ease;
				opacity: 1;
			}

		body.is-loading #header.alt:before {
			background-color: black;
		}

		body.is-loading #header.alt .inner {
			opacity: 0;
		}

		@media screen and (max-width: 1280px) {

			#header {
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 1024px) {

			#header {
				padding: 4em 2em 2em 2em;
			}

				#header.alt h1 {
					font-size: 2.5em;
					padding-left: 0;
					padding-right: 0;
				}

				#header.alt p {
					padding: 0;
				}

				#header.alt .inner {
					max-width: 20em;
				}

		}

body{
	margin:0px;
	padding:0px;
}

#all{
	width:1024px;
	height:1500px;
	margin:0px auto;
}

#top{
	border-bottom:2px solid black;
	text-align:center;
}

#top > h1{
	text-decoration:underline;
}
tr > td{
	border-bottom:1px solid black;
	padding:10px;
}

tr > th{
	border-bottom:2px solid black;
	padding-top:10px;
	padding-bottom:10px;
}

table{
	border-collapse:collapse ;
	width:100%;
}
