@charset "UTF-8";

img{
	text-align:center;	
}

.replybox{
	width:1000px;
	height:800px;
	margin:0px auto;
	text-align:left;	
	bacground-color:white;
}

.detailImg{
	text-align: center;
	margin-top: 20px;
}

#a{
	text-align: cender;
	margin: 0px auto;
	width:1000px;
}
