@charset "UTF-8";

img{
	text-align:center;	
}

#logbox{
	width:500px;
	height:800px;
	margin:0px auto;
	margin-top:400px;
	text-align:center;	
	bacground-color:white;
	
}

.detailImg{
	text-align: center;
	margin-top: 20px;
}
table{
	border-collapse:collapse ;
	width:100%;
	text-align: center;
}
