<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.min.mapper.OrderMapper">

<insert id="order">
	
	insert 	into order_tb(orderno, uid, address1, address2, address3, uphone, price, stock, name, state)	
	values (#{orderno}, #{vo.uid}, #{vo.address1}, #{vo.address2}, #{vo.address3}, #{vo.uphone}, #{vo.price},#{stock}, #{vo.name}, #{state})
</insert>


<select id="orderResult" resultType="com.min.model.OrderVO">
	select *
	from delivery as d, order_tb as o
	where d.state = o.state
    and o.uid=#{uid}
</select>

<select id="adminOrder" resultType="com.min.model.OrderVO">
	select *
	from delivery as d, order_tb as o
	where d.state = o.state;
</select>

<update id="state">

	update order_tb set state=#{state} where orderno=#{orderno};
	
</update>

</mapper>
