<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.min.mapper.Upload2Mapper">



<insert id="upload2">

	insert into upload_tb(filename, uploadPath, uuid, no)
	values(#{filename}, #{uploadPath}, #{uuid}, #{no})	
	
</insert>




</mapper>